body{
    transition-duration: 50s;
}

body:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.head_div{
    gap: 60px;
}
.wellcome{
    font-size: 50px;
}
.wellcome:hover{
    color: rgb(4, 0, 255);
}

.current_player{
    color: rgb(61, 61, 151);
    transition-duration: 2s;
}

.current_player:hover{
    color: rgb(15, 81, 82);
}

.Reset{
    padding-top: 14px;
    padding-left: 20px;
    font-size: 40px;
    color: red;
    cursor: pointer;
}

.Reset:hover{
    padding-top: 14px;
    color: rgb(255, 0, 115);
    font-family: 'Times New Roman', Times, serif;
}

.size{
    padding-top: 22px;
    font-size: 30px;
    /* padding-left: 100px;*/
} 

.Enter_size{
    margin-left: 23%;
    transition-duration: 2s;
}

.Enter_size:hover{
    color: blueviolet;
}

.size_input{
    background: none;
    width: 70px;
    height: 30px;
    border: none;
}

.error{
    font-size: 25;
    padding-left: 13px;
    color: red;
    transition-duration: 0.1s;
}

.error:hover{
    color: rgb(98, 78, 178);
}

.board {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.board-row {
    display: flex;
}

.btns {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(113, 14, 14);
    border: 1px solid rgb(0, 0, 0);
    color: white;
    transition-duration: 0.25s;
}

.btns:hover{
    box-shadow: 0px 0px 3px 4px wheat;
    color: rgb(197, 147, 82);
    background-color: rgb(103, 75, 75);
}


